<div class="row">
  <% for post in @posts %>
    <% user = User.find_by({ "id" => post["user_id"] }) %>
    <div class="col-3">
      <h4>
        <% if user == nil %>
          anonymous
        <% else %>
          <%= user["first_name"] %>
        <% end %>
      </h4>
      <img src="<%= post["image"] %>" class="img-fluid w-full">
      <p><%= post["body"] %></p>
    </div>
  <% end %>
</div>
